<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
    <extensions>
        <!-- This policy assertion validates user authorization against service user type configuration -->
        <extension name="saml" type="OpenContent.Core.Security.Authorization.RoleConfigAuthorizationValidator, OpenContent.Platform.Core" />
    </extensions>

    <policy name="AuthenticationIssuerClientPolicy">
        <usernameForCertificateSecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" requireDerivedKeys="true">
            <serviceToken>
                <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Authentication STS, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
            </serviceToken>
            <protection>
                <request signatureOptions="IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeSoapBody" encryptBody="false" />
            </protection>
        </usernameForCertificateSecurity>
    </policy>
    
    <policy name="AuthenticationIssuerPolicy">
        <usernameForCertificateSecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" requireDerivedKeys="true">
            <serviceToken>
                <!-- Token to verify message security -->
                <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Authentication STS, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
            </serviceToken>
            <protection>
                <request signatureOptions="IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeSoapBody" encryptBody="false" />
            </protection>
        </usernameForCertificateSecurity>
    </policy>

    <policy name="AuthorizationIssuerClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="TokenRenewalClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="GuestAuthenticationIssuerClientPolicy">
        <usernameForCertificateSecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" requireDerivedKeys="true">
            <serviceToken>
                <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate GuestAuthentication STS, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
            </serviceToken>
            <protection>
                <request signatureOptions="IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeSoapBody" encryptBody="false" />
            </protection>
        </usernameForCertificateSecurity>
    </policy>

    <policy name="GuestAuthorizationIssuerClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="GuestTokenRenewalClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="IntegratorAuthenticationIssuerClientPolicy">
        <usernameForCertificateSecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature" requireDerivedKeys="true">
            <serviceToken>
                <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate GuestAuthentication STS, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
            </serviceToken>
            <protection>
                <request signatureOptions="IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeSoapBody" encryptBody="false" />
            </protection>
        </usernameForCertificateSecurity>
    </policy>

    <policy name="IntegratorAuthorizationIssuerClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="IntegratorTokenRenewalClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="WebServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PasswordSecurityServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <!-- System process should be able to use this service for password recovery -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <!-- Note, SAML token signed by our guest SAML Authority is NOT trusted -->
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="GuestInfoSecurityServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <!-- Note, SAML token signed by our guest SAML Authority is NOT trusted -->
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="GuestRegistrationServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <!-- Guests come in to finish registration will be able to remove the obsolete guest record -->
                <allow role="UserReg" />
                <!-- System process should be able to use this service for guest cleanup -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="GuestDetailServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <!-- Only guest roles are allowed -->
                <allow role="UserReg" />
                <allow role="Review" />
            </authorization>
            <trustedTokenIssuers>
                <!-- Note, SAML token signed by our SAML Authority is NOT trusted -->
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="DataSourceDirectoryServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="DataSourceDirectoryServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to query-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="FederatedDocumentQueryServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="FederatedDocumentQueryServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to query-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="FederatedRadiologyQueryServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="FederatedRadiologyQueryServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to query-->
                <allow role="Integrator" />
                <!-- System process should be able to use this service for radiology query -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="MultiFederatedRadiologyQueryServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <!-- Guest role that is invited to review study is allowed -->
                <allow role="Review" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="FusionAERegistrationServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <!-- Guest role that is invited to review study is allowed -->
                <allow role="Review" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PythonNotificationServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <!-- System process should be able to use this service for email notification -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="EmailNotificationServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <!-- System process should be able to use this service for email notification -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="Part10ImportWebServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="Part10ImportWebServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to save GSPS-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="RawDataWebServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="RawDataWebServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to save attachment-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="UserServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <allow role="UserReg" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="CdaRendererServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <allow role="UserReg" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PythonUserServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <allow role="UserReg" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="SiteServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PythonRegistrationServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="UserReg" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="ViewerServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="ViewerServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Guest role that is invited to review study is allowed -->
                <allow role="Review" />
                <!-- Integrator user is allowed to review study-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="ThumbnailStrategyServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Guest role that is invited to review study is allowed -->
                <allow role="Review" />
                <!-- Integrator user is allowed to review study-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="LogServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="Admin" />
                <allow role="Vet" />
                <allow role="Client" />
                <!-- System process should be able to use this service for logging -->
                <allow role="SystemProcess" />
                <!-- Guest role that is invited to review study is allowed -->
                <allow role="Review" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PatientMgmtServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <!-- System process should be able to use this service for patient management -->
                <allow role="SystemProcess" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="true" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PriorsServiceClientPolicy">
        <saml issuer="" issuerPolicy="" establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>

    <policy name="PriorsServicePolicy">
        <saml establishSecurityContext="false" renewExpiredSecurityContext="true" requireDerivedKeys="true">
            <authorization>
                <allow role="SuperAdmin" />
                <allow role="SiteAdmin" />
                <allow role="User" />
                <!-- Integrator user is allowed to query-->
                <allow role="Integrator" />
            </authorization>
            <trustedTokenIssuers>
                <add>
                    <!-- SAML token signed by our SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
                <add>
                    <!-- SAML token signed by our guest SAML Authority is trusted -->
                    <x509 storeLocation="LocalMachine" storeName="My" findValue="CN=Cedara GoldenGate Guest SAML Authority, O=GoldenGate, L=Mississauga, S=Ontario, C=CA" findType="FindBySubjectDistinguishedName" />
                </add>
            </trustedTokenIssuers>
            <protection>
                <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
                <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
            </protection>
        </saml>
    </policy>


</policies>
