<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MergeReportServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.5.38.12:8086/MergeReportService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MergeReportServiceSoap"
                contract="MergeReportService.MergeReportServiceSoap" name="MergeReportServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>