<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="Cassia" version="2.0.0.60" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net45" />
  <package id="IronOcr" version="4.3.0.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net45" />
  <package id="Magick.NET-Q16-x86" version="7.12.0" targetFramework="net45" />
  <package id="NetOffice.Core.Net40" version="1.7.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net45" />
  <package id="OSIcon" version="3.0.0.0" targetFramework="net45" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net45" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net45" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="72.0.3626.69" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.23.0" targetFramework="net45" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net45" />
  <package id="TestStack.White.ScreenObjects" version="0.13.3" targetFramework="net45" />
  <package id="WebDriver.IEDriverServer.win32" version="3.141.0" targetFramework="net45" />
  <package id="XMLDiffPatch" version="1.0.8.28" targetFramework="net45" />
</packages>